.centrar{
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:45%;
  /*determinamos una anchura*/
  width:100%;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-125px;
}
.flag {
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #70A101;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
.flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #eee;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}