<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goToBack()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-row align-items-center>
        <h1 class="mayusculas">{{titulo}}</h1>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-row *ngFor="let data of Table; let i = index" (click)="goToRoute('home/camion/' + data.id)">
      <ion-col class="div-redondeado2" size="2" style="color: white;">
        <span>
          <h1>{{i+1}}</h1>
        </span>
      </ion-col>
      <ion-col size="10">
        <ion-icon ios="ios-train" md="md-train"></ion-icon><strong>Nombre:</strong>  {{((data.nombre)?data.nombre:'')}}<br>
        <small><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon><strong>Placa:</strong>  {{((data.placa!=null)?data.placa:'')}}</small> <br>
        <small><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon><strong>Modelo:</strong>  {{((data.modelo)?data.modelo:'')}}</small> <br>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>