<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goToBack()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-row align-items-center>
        <h1 class="mayusculas">{{titulo}}</h1>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <div style="padding-bottom: 6%;">
      <img src="{{picture}}" class="picture-profile">
      <h3 class="text center">{{ nombre }}</h3>
      <h6 class="text center">{{ email }}</h6><hr/>
    </div>
    <!-- CONFIGURACION -->
    <ion-list>
      <ion-item (click)="presentModal(1)">
        <ion-label><ion-icon name="person" slot="start"></ion-icon>
          Editar Mi Perfil
        </ion-label>
      </ion-item>
      <ion-item (click)="presentModal(2)">
        <ion-label><ion-icon name="lock" slot="start"></ion-icon>
          Cambiar Contraseña
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>