<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="mayusculas">{{data.nombres}}</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-segment mode="md">
        <ion-segment-button (click)="active('form')" checked>
          Formulario
        </ion-segment-button>
        <ion-segment-button (click)="active('cart')" checked>
          Carrito
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content padding *ngIf="selectItem=='form'">
    <form (ngSubmit)="saveChanges()">
      <!--TOTAL-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-document" md="md-document"></ion-icon>  Nit</ion-label>
        <ion-input type="text" [(ngModel)]="data.nit" name="nit">
        </ion-input>
      </ion-item>
      <!--TOTAL-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-home" md="md-home"></ion-icon>  Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="data.direccion" name="direccion">
        </ion-input>
      </ion-item>
      <!--FECHA-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="data.fecha" name="fecha"></ion-datetime>
      </ion-item>
      <!--TIPO-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tipo de Venta</ion-label>
        <ion-select [(ngModel)]="data.tipo" name="tipo">
          <ion-select-option  *ngFor="let x of Ventas" value="{{x.id}}" >{{ x.descripcion }}</ion-select-option>
        </ion-select>
      </ion-item>
      <!--TOTAL-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-document" md="md-document"></ion-icon>  Comprobante</ion-label>
        <ion-input type="text" [(ngModel)]="data.comprobante" name="comprobante" disabled>
        </ion-input>
      </ion-item>
      <!-- TIPO DE PLAZO -->
      <ion-item *ngIf="data.tipo == 2">
        <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tipo de Plazo</ion-label>
        <ion-select [(ngModel)]="data.tipoPlazo" name="tipoPlazo">
          <ion-select-option value="1">Día</ion-select-option>
          <ion-select-option value="2">Mes</ion-select-option>
          <ion-select-option value="3">Año</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- PLAZO -->
      <ion-item *ngIf="data.tipo == 2">
        <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Plazo</ion-label>
        <ion-input type="number" [(ngModel)]="data.plazo" name="plazo">
        </ion-input>
      </ion-item>
      <!--TOTAL-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>  Total</ion-label>
        <ion-input type="text" [(ngModel)]="data.total" name="total">
        </ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" color="secondary" [disabled]="disabledBtn">
        <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
        Guardar Cambios
      </ion-button>
    </form>
  </ion-content>

  <ion-content padding *ngIf="selectItem=='cart'">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()" color="secondary">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid>
      <ion-row justify-content-center align-items-center style="border-bottom: 1px solid black;margin: 2px;" *ngFor="let x of cartProducts">
        <ion-col size="3">
          <div><img src="https://broxtechnology.com/images/iconos/box.png" class="image-book"/></div>
        </ion-col>
        <ion-col size="6">
          <div>{{x.nombre}}</div>
          <p class="text"><strong>Precio: </strong>{{ x.precioVenta }}</p>
          <p class="text"><strong>Subtotal: </strong>{{ x.subtotal }}</p>
          <ion-button  size="small" color="danger"  (click)="deleteCar(x)">
            <ion-icon ios="ios-trash" md="md-trash" slot="icon-only"></ion-icon> Eliminar
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-row justify-content-center align-items-center>
            <ion-col style="text-align: center">
            <h5>{{x.cantidad}}</h5>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center align-items-center>
            <ion-col style="text-align: center">
              <ion-button size="small" color="secondary" (click)="removeProduct(x)">
                <ion-icon ios="ios-remove" md="md-remove" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button size="small" color="secondary" (click)="addMore(x)">
                <ion-icon ios="ios-add" md="md-add" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div padding>
      <!--TOTAL-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>  Total</ion-label>
        <ion-input type="text" [(ngModel)]="data.total" name="total">
        </ion-input>
      </ion-item>
    </div>
  </ion-content>
</ion-app>