.input-img {
  width: 100%;
  height: 44.8px;
}

.upload-btn-wrapper {
  position: relative;
  width: 100%;
}

.btn {
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper2 input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
}

.image-slides {
  display: block; 
  width: 600px; 
  height: auto; 
  margin-left: auto; 
  margin-right: auto;
}

.image-slides2 {
  display: block;
  height: auto; 
  margin-left: auto; 
  margin-right: auto;
}

.invisible {
  background-color: #ffffff00;
  opacity: 0;
}