<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goToBack()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-row align-items-center>
        <h1 class="mayusculas">{{titulo}}</h1>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()" color="secondary">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div *ngFor="let x of sales">
      <ion-card *ngIf="x.cliente == parameter">
        <ion-item color="secondary">
          Comprobante {{x.comprobante}}
        </ion-item>
      
        <ion-card-content>
          <p><strong>Cliente:</strong> {{x.clientes.nombre}} {{x.clientes.apellido}}</p>
          <p><strong>Tipo:</strong> {{x.tipos.descripcion}}</p>
          <p><strong>Total:</strong> Q {{x.total}}</p>
        </ion-card-content>
          <!--<ion-row>
            <ion-col style="text-align: center;" size="6">
              <ion-button fill="clear" expand="full">
                <ion-icon ios="ios-eye" md="md-eye" color="secondary"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col style="text-align: center;" size="6">
              <ion-button fill="clear" expand="full">
                <ion-icon ios="ios-trash" md="md-trash" color="danger"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>-->
      </ion-card>
    </div>
  </ion-content>
</ion-app>