<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="goToBack()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-row align-items-center>
          <h1 class="mayusculas">{{titulo}}</h1>
        </ion-row>
      </ion-toolbar>
  </ion-header>
  <ion-content [ngStyle]="{'display': selectedTag=='ventas'? 'block' : 'none'}" class="h-100">
    <div *ngFor="let x of visitas">
      <ion-card *ngIf="x.cliente == parameter" (click)="presentModalVisita(x.id)">
        <ion-list lines="none">
          <ion-item color="secondary">
            <ion-label>Visita No. {{ x.id }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-card-content>
          <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
          <p><strong>Fecha:</strong> {{x.fecha}}</p>
          <p><strong>Hora:</strong> {{x.hora}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>