<ion-app>
  <ion-content>
    <div [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" id="full-screen-background-image">
      <form (ngSubmit)="logIn()" padding>
        <div style="padding-bottom: 6%;">
            <img *ngIf="pictureApp" src="{{pictureApp}}" class="picture-profile">
        </div>
        <div class="item item-trns">
          <ion-item >
              <ion-label style="color: white;" position="floating"><ion-icon ios="ios-person" md="md-person"></ion-icon>  Usuario</ion-label>
              <ion-input (keyup.enter)="logIn()" style="color: white;" type="text" [(ngModel)]="user.username" name="username"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label style="color: white;"  position="floating"><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
              <ion-input (keyup.enter)="logIn()" style="color: white;" type="password" [(ngModel)]="user.password" name="password"></ion-input>
          </ion-item>
          <div padding>
            <ion-button type="submit" shape="round" expand="block" color="success" class="mayusculas">Iniciar Sesión</ion-button>
          </div>
        </div>
        <ion-button class="btn-white" shape="round" expand="block" fill="clear" color="light" type="button"
        (click)="presentModal()" class="mayusculas">¿Olvidaste tu contraseña?</ion-button>
        <!--<ion-button class="btn-white" shape="round" expand="block" fill="clear" color="light" type="button"
        (click)="goToRoute('./../register')" class="mayusculas">Crear una nueva cuenta</ion-button>-->
      </form>
      <div class="footer">
        <p>© Foxylabs 2019</p>
      </div>
    </div>
  </ion-content>
</ion-app>
  
  