<ion-app>
    <ion-header translucent mode="md">
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="goToBack()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-row>
          <h1 class="mayusculas">{{titulo}}</h1>
        </ion-row>
      </ion-toolbar>
      <ion-toolbar color="primary">
        <ion-segment mode="md">
          <ion-segment-button (click)="active('plan')" checked>
            Plan
          </ion-segment-button>
          <!--<ion-segment-button (click)="active('ejecucion')">
            Ejecución
          </ion-segment-button>-->
          <ion-segment-button (click)="active('resultados');getAll();">
            Todos los Planes
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>

    <ion-content [ngStyle]="{'display': selectedTag=='plan'? 'block' : 'none'}">
      <ion-card>
        <ion-list lines="none">
          <ion-item color="secondary">
            <ion-label>Plan de Acción</ion-label>
          </ion-item>
        </ion-list>
        <ion-card-content>
          <form (ngSubmit)="saveChanges()">
          <!--SEMANA-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Semana</ion-label>
            <ion-input type="text" [(ngModel)]="data.semana" name="semana">
            </ion-input>
          </ion-item>
          <!--FECHA-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Fecha</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="data.fecha" name="fecha"></ion-datetime>
          </ion-item>
          <!--HORA-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Hora</ion-label>
            <ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH mm ss" [(ngModel)]="data.hora" name="hora"></ion-datetime>
          </ion-item>
          <!--NOMBRE DEL CLIENTE-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Nombre del Cliente</ion-label>
            <ion-input type="text" [(ngModel)]="data.nombre_cliente" name="nombre_cliente">
            </ion-input>
          </ion-item>
          <!--TIPO DE CLIENTE-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Tipo del Cliente</ion-label>
            <ion-select [(ngModel)]="data.tipo_cliente" name="tipo_cliente">
              <ion-select-option  *ngFor="let x of tipoCliente" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
          <!--LUGAR-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Lugar</ion-label>
            <ion-input type="text" [(ngModel)]="data.lugar" name="lugar">
            </ion-input>
          </ion-item>
          <!--DEPARTAMENTO-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Departamento</ion-label>
            <ion-input type="text" [(ngModel)]="data.departamento" name="departamento">
            </ion-input>
          </ion-item>
          <!--OBJETIVOS-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Objetivos</ion-label>
            <ion-select [(ngModel)]="data.objetivos" name="objetivos">
              <ion-select-option  *ngFor="let x of objetivos" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
          <!--CULTIVOS-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Cultivos</ion-label>
            <ion-select [(ngModel)]="data.cultivo" name="cultivo">
              <ion-select-option  *ngFor="let x of cultivos" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
          <!--AVANCES-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Avances</ion-label>
            <ion-select [(ngModel)]="data.tipo_avance" name="tipo_avance">
              <ion-select-option  *ngFor="let x of tipoAvance" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
          <!--OBSERVACIONES-->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Observaciones</ion-label>
            <ion-input type="text" [(ngModel)]="data.observaciones" name="observaciones">
            </ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" color="secondary" [disabled]="disabledBtn">
            <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
            Guardar Cambios
          </ion-button>
        </form>
        </ion-card-content>
      </ion-card>
    </ion-content>

    <ion-content [ngStyle]="{'display': selectedTag=='ejecucion'? 'block' : 'none'}">
      <ion-card>
        <ion-list lines="none">
          <ion-item color="secondary">
            <ion-label>¿Que se hizo?</ion-label>
          </ion-item>
        </ion-list>
        <ion-card-content>
          <ion-item>
            <ion-textarea type="text" maxlength="255" rows="1" placeholder="Ingrese más información aquí...">
            </ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-list lines="none">
          <ion-item color="secondary">
            <ion-label>¿Que se hizo?</ion-label>
          </ion-item>
        </ion-list>
        <ion-card-content>
          <ion-item>
            <ion-textarea type="text" maxlength="255" rows="1" placeholder="Ingrese más información aquí...">
            </ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-list lines="none">
          <ion-item color="secondary">
            <ion-label>¿Que se hizo?</ion-label>
          </ion-item>
        </ion-list>
        <ion-card-content>
          <ion-item>
            <ion-textarea type="text" maxlength="255" rows="1" placeholder="Ingrese más información aquí...">
            </ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-content>

    <ion-content [ngStyle]="{'display': selectedTag=='resultados'? 'block' : 'none'}">
      <div *ngFor="let x of visitas">
        <ion-card *ngIf="x.cliente == parameter" (click)="presentModal(x.id)">
          <ion-list lines="none">
            <ion-item color="secondary">
              <ion-label>Visita No. {{ x.id }}</ion-label>
            </ion-item>
          </ion-list>
          <ion-card-content>
            <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
            <p><strong>Fecha:</strong> {{x.fecha}}</p>
            <p><strong>Hora:</strong> {{x.hora}}</p>
          </ion-card-content>
        </ion-card>
      </div>      
    </ion-content>
</ion-app>
  
  