<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goToBack()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-row align-items-center>
        <h1 class="mayusculas">{{titulo}}</h1>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-row *ngFor="let data of Table; let i = index">
      <ion-col class="div-redondeado" size="2">
        <span>
          <h1>{{i+1}}</h1>
        </span>
      </ion-col>
      <ion-col size="10">
        <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon><strong>Producto:</strong>  {{((data.productos.nombre)?data.productos.nombre:'')}}<br>
        <small><ion-icon ios="ios-map" md="md-map"></ion-icon><strong>Tipo:</strong>  {{((data.productos.tipos.descripcion!=null)?data.productos.tipos.descripcion:'')}}</small> <br>
        <small><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon><strong>Cantidad:</strong>  {{((data.cantidad)?data.cantidad:'')}}</small> <br>
        <small><ion-icon ios="ios-cash" md="md-cash"></ion-icon><strong>Precio:</strong>  {{((data.precioVenta)?data.precioVenta:'')}}</small>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>