<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="mayusculas">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--SELECCIONAR PRODUCTOS-->
  <ion-content *ngIf="select">
    <ion-list>
      <ion-item *ngFor="let p of products" (click)="selectProduct(p)">
        <ion-label>{{p.productos.codigo}} - {{p.productos.nombre}}</ion-label>
        <ion-note item-end>{{p.cantidad}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content *ngIf="form" padding>
    <form (ngSubmit)="saveChanges()">
      <!-- CODIGO -->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Codigo</ion-label>
        <ion-input type="text" [(ngModel)]="product.codigo" name="codigo">
        </ion-input>
      </ion-item>
      <!-- NOMBRE -->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="product.nombre" name="nombre">
        </ion-input>
      </ion-item>
      <!-- DESCRIPCION -->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Descripcion</ion-label>
        <ion-input type="text" [(ngModel)]="product.descripcion" name="descripcion">
        </ion-input>
      </ion-item>
      <!-- MARCA -->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Marca</ion-label>
        <ion-input type="text" [(ngModel)]="product.marca" name="marca">
        </ion-input>
      </ion-item>
      <!-- TIPO -->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Tipo</ion-label>
        <ion-input type="text" [(ngModel)]="product.tipos" name="tipos">
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <!-- PRECIO VENTA -->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio de Venta</ion-label>
            <ion-input type="number" [(ngModel)]="product.precioVenta" name="precioVenta">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <!-- CANTIDAD -->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Cantidad</ion-label>
            <ion-input type="number" [(ngModel)]="product.cantidad" name="cantidad">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- PRECIO CLIENTE VENTA -->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio Cliente</ion-label>
            <ion-input type="number" [disabled]="precioClienteEs" [(ngModel)]="product.precioClienteEs" name="precioClienteEs">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <!-- PRECIO DISTRIBUIDOR -->
          <ion-item>
            <ion-label position="floating"><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio Distribuidor</ion-label>
            <ion-input type="number" [disabled]="precioDistribuidor" [(ngModel)]="product.precioDistribuidor" name="precioDistribuidor">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-button expand="block" type="submit" color="secondary" [disabled]="disabledBtn">
        <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
        Guardar Cambios
      </ion-button>
    </form>
  </ion-content>
</ion-app> 