<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button fill="clear">
        </ion-button>
      </ion-buttons>
      <ion-row>
        <h1 class="mayusculas">{{titulo}}</h1>
      </ion-row>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div style="height: 300px; width: 100%;" id="map"></div>
    <form (ngSubmit)="saveChanges()" padding>
      <!--NOMBRE DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Nombre del Cliente</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.nombre" name="nombre">
        </ion-input>
      </ion-item>
      <!--APELLIDO DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Apellido del Cliente</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.apellido" name="apellido">
        </ion-input>
      </ion-item>
      <!--NIT DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Nit del Cliente</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.nit" name="nit">
        </ion-input>
      </ion-item>
      <!--DEPARTAMENTO DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="home"></ion-icon>  Dirección</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.direccion" name="direccion">
        </ion-input>
      </ion-item>
      <!--DEPARTAMENTO DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="call"></ion-icon>  Teléfono</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.telefono" name="telefono">
        </ion-input>
      </ion-item>
      <!--DEPARTAMENTO DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="phone-portrait"></ion-icon>  Celular</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.celular" name="celular">
        </ion-input>
      </ion-item>
      <!-- MUNICIPIO DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Municipio</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.municipio" name="municipio">
        </ion-input>
      </ion-item>
      <!--DEPARTAMENTO DEL CLIENTE-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Departamento</ion-label>
        <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.departamento" name="departamento">
        </ion-input>
      </ion-item>
      <!--SECTOR-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Sector</ion-label>
        <ion-select [(ngModel)]="data.sector" name="sector">
          <ion-select-option  *ngFor="let x of sectores" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" type="submit" color="secondary" [disabled]="disabledBtn">
        <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
        Guardar Cambios
      </ion-button>
    </form>
  </ion-content>
</ion-app>