<ion-app>
    <ion-header translucent mode="md">
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="goToBack()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-row>
          <h1 class="mayusculas">{{titulo}}</h1>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  
    <ion-content padding [ngStyle]="{'display': selectedTag=='ventas'? 'block' : 'none'}" class="h-100">
        <div>
        <ion-grid class="h-50">
          <div class="h-50">
              <ion-row>
                  <ion-col size="12">
                    <ion-grid>
                      <ion-row *ngFor="let data of clientes; let i = index">
                        <!-- <div [ngStyle]="{'display': data.estado==1? 'block' : 'none'}"> -->
                          <ion-col class="div-redondeado" size="2">
                            <span>
                              <h1>{{i+1}}</h1>
                            </span>
                          </ion-col>
                          <ion-col size="7">
                            {{((data.nombre)?data.nombre:'')}} <br>
                            <small>{{((data.direccion)?data.direccion:'')}}</small> <br>
                            <!--<div class="text-right">
                              <ion-button (click)="data.estado=2" expand="small" color="secondary">Quitar</ion-button>
                            </div>-->
                          </ion-col>
                          <ion-col size="3">
                            <br> <br>              
                            <ion-button (click)="goToRoute('../home/detalle-terminadas/'+data.id)" expand="small" color="secondary" fill="clear">Detalle
                            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end" name="star"></ion-icon>
                            </ion-button>
                          </ion-col>
                        <!-- </div> -->
                      </ion-row>
                      
                    </ion-grid>
                  </ion-col>
                </ion-row>
          </div>
        </ion-grid>
        </div>
    </ion-content>
  
    <!--<ion-content padding [ngStyle]="{'display': selectedTag=='publicidad'? 'block' : 'none'}" class="h-100">
      <div>
        <ion-grid class="h-50">
          <div class="h-50">
            <ion-row>
                <ion-col size="8">
                  <h3>Rutal del dia</h3>
                </ion-col> 
                <ion-col size="4">
                  <ion-button (click)="active('publicidad')" expand="small" color="primary">Comenzar</ion-button>
                </ion-col>                              
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-grid>
                  <ion-row *ngFor="let data of Table; let i = index" [ngStyle]="{'display': data.estado==1? '' : 'none'}">
                      <ion-col size="1" style="background-color: green;">
                        <span>
                          <h1>{{i+1}}</h1>
                        </span>
                      </ion-col>
                      <ion-col size="9">
                        {{((data.nombre)?data.nombre:'')}} <br>
                        <small>{{((data.direccion)?data.direccion:'')}}</small> <br>
                      </ion-col>
                      <ion-col size="2">
                        <span>{{((data.distancia)?data.distancia:'')}}</span> <br>
                        <small><a (click)="goToRoute('../home/detalle/'+data.id)">Detalle > </a> </small>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
  </ion-content>-->
</ion-app>
  
  