<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="mayusculas">Visita No. {{ data.id }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <div *ngIf="data">
    <p *ngIf="data.semana"><strong>Semana</strong></p>
    <p *ngIf="data.semana" class="mayusculas">{{ data.semana }}</p>
    <p *ngIf="data.fecha"><strong>Fecha</strong></p>
    <p *ngIf="data.fecha" class="mayusculas">{{ data.fecha }}</p>
    <p *ngIf="data.hora"><strong>Hora</strong></p>
    <p *ngIf="data.hora" class="mayusculas">{{ data.hora }}</p>
    <p *ngIf="data.nombre_cliente"><strong>Nombre del Cliente</strong></p>
    <p *ngIf="data.nombre_cliente" class="mayusculas">{{ data.nombre_cliente }}</p>
    <p *ngIf="data.tipo_cliente"><strong>Tipo de Cliente</strong></p>
    <p *ngIf="data.tipo_cliente" class="mayusculas">{{ data.tipos_cliente.nombre }}</p>
    <p *ngIf="data.lugar"><strong>Lugar</strong></p>
    <p *ngIf="data.lugar" class="mayusculas">{{ data.lugar }}</p>
    <p *ngIf="data.departamento"><strong>Departamento</strong></p>
    <p *ngIf="data.departamento" class="mayusculas">{{ data.departamento }}</p>
    <p *ngIf="data.objetivo"><strong>Objetivos</strong></p>
    <p *ngIf="data.objetivo" class="mayusculas">{{ data.objetivo.nombre }}</p>
    <p *ngIf="data.cultivos"><strong>Cultivo</strong></p>
    <p *ngIf="data.cultivos" class="mayusculas">{{ data.cultivos.nombre }}</p>
    <p *ngIf="data.tipo_avance"><strong>Tipo de Avance</strong></p>
    <p *ngIf="data.tipo_avance" class="mayusculas">{{ data.tipos_avance.nombre }}</p>
  </div>
  </ion-content>
</ion-app>