<ion-app>
  <ion-header mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goToBack()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-row>
        <h1 class="mayusculas">{{titulo}}</h1>
      </ion-row>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="mis" checked>
          <ion-label>Mis Clientes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="todos">
          <ion-label>Todos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-searchbar animated [(ngModel)]="search" [ngModelOptions]="{standalone: true}"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="itemSelected=='mis'">
      <ion-fab-button (click)="presentModal()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list *ngIf="itemSelected=='mis'">
      <ion-item-sliding *ngFor="let x of Table | filter : search">
        <ion-item>
          <ion-label>
            <h2 class="mayusculas">{{x.nombre}} {{x.apellido}}</h2>
            <p class="mayusculas">{{x.direccion}}</p>
            <p class="mayusculas">{{x.celular}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="secondary" (click)="presentModal(x.id)">
            <ion-icon name="create" slot="start"></ion-icon> Actualizar
          </ion-item-option>
          <ion-item-option color="danger" (click)="confirmation(x)">
            <ion-icon name="trash" slot="start"></ion-icon> Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="itemSelected=='todos'">
      <ion-item-sliding *ngFor="let x of Table | filter : search">
        <ion-item>
          <ion-label>
            <h2 class="mayusculas">{{x.nombre}} {{x.apellido}}</h2>
            <p class="mayusculas">{{x.direccion}}</p>
            <p class="mayusculas">{{x.celular}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="secondary" (click)="assignament(x.id)">
            <ion-icon name="create" slot="start"></ion-icon> Asignar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</ion-app>