<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goToBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-row>
        <h1 class="mayusculas">{{titulo}}</h1>
      </ion-row>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-segment mode="md">
        <ion-segment-button (click)="active('pendientes');getAll(parameter)" checked>
          Pendientes
        </ion-segment-button>
        <ion-segment-button (click)="active('terminados');getAll(parameter)" checked>
          Terminadas
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="selectedTag=='pendientes'">
    <div *ngFor="let x of visitas;">
      <div *ngIf="!x.planificacion">
        <div *ngIf="x.terminado=='0'">
          <ion-card (click)="presentModal(x.id)">
            <ion-list lines="none">
              <ion-item color="secondary">
                <ion-label>Visita No. {{ x.id }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-card-content>
              <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
              <p><strong>Fecha:</strong> {{x.fecha}}</p>
              <p><strong>Hora:</strong> {{x.hora}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>    
  </ion-content>

  <ion-content *ngIf="selectedTag=='terminados'">
    <div *ngFor="let x of visitas;">
      <div *ngIf="!x.planificacion">
        <div *ngIf="x.terminado=='1'">
          <ion-card (click)="presentModal(x.id)">
            <ion-list lines="none">
              <ion-item color="secondary">
                <ion-label>Visita No. {{ x.id }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-card-content>
              <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
              <p><strong>Fecha:</strong> {{x.fecha}}</p>
              <p><strong>Hora:</strong> {{x.hora}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>    
  </ion-content>
</ion-app>