<ion-app>
    <ion-header translucent mode="md">
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="goToBack()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-row>
          <h1 class="mayusculas">{{titulo}}</h1>
        </ion-row>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="goToRoute('../home/clientes')">
            <ion-icon name="people"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <!--<ion-toolbar color="primary">
        <ion-segment mode="md" color="secondary">
          <ion-segment-button (click)="active('ventas');getMap();" checked>
            Planificación
          </ion-segment-button>
          <ion-segment-button (click)="active('publicidad');getMap2();">
            Planificación Diario
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>-->
    </ion-header>
  
    <ion-content [ngStyle]="{'display': selectedTag=='ventas'? 'block' : 'none'}" class="h-100">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
      </ion-refresher>
      <div>
          <div id="map-planificacion" style="height:250px!important;"></div>

             <ion-grid padding>
               <div class="h-50">
                  <ion-row>
                      <ion-col size="8">
                        <h3>Rutal del dia</h3>
                      </ion-col> 
                      <!--<ion-col size="4">
                        <ion-button (click)="active('publicidad')" expand="small" color="primary">Comenzar</ion-button>
                      </ion-col>        -->                      
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-grid>
                        <ion-row *ngFor="let data of clientes; let a = index" [ngStyle]="{'display': data.estado=='1'? '' : 'none'}">
                          <!-- <div [ngStyle]="{'display': data.estado==1? 'block' : 'none'}"> -->
                            <ion-col class="div-redondeado" size="2">
                              <span>
                                <h1>{{a+1}}</h1>
                              </span>
                            </ion-col>
                            <ion-col size="7">
                                <ion-icon ios="ios-person" md="md-person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
                                <small><ion-icon ios="ios-map" md="md-map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
                                <small><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
                              <div class="text-right">
                                <ion-button (click)="changeState(data.usuarioidDelete, 2)" expand="small" color="secondary">Quitar</ion-button>
                              </div>
                            </ion-col>
                            <ion-col size="3">
                              <ion-icon ios="ios-car" md="md-car"></ion-icon>  {{((data.distance)?data.distance:'')}} <br><br>
                              <ion-button (click)="getLocation(data.latitud, data.longitud, data.nombre + ' ' + data.apellido)" expand="small" color="secondary" fill="clear">Ubicar
                                <ion-icon name="pin" slot="end"></ion-icon>
                              </ion-button>              
                              <ion-button (click)="goToRoute('../home/visita-detalle/'+data.id)" expand="small" color="secondary" fill="clear">Detalle
                              <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end" name="star"></ion-icon>
                              </ion-button>
                            </ion-col>
                          <!-- </div> -->
                        </ion-row>
                        
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                  <!--<ion-row>
                    <ion-col size="6" offset="6" class="text-right">
                      <ion-button shape="round" color="primary" fill="outline">Hello World</ion-button>
                      <ion-button size="small">Small Button</ion-button>
                    </ion-col>
                  </ion-row>-->
                  </div>
             </ion-grid>
             </div>
             <div>
             <ion-grid padding>
              <ion-row>
                 <ion-col size="12">
                   <h3>Rutas Pendientes</h3>
                 </ion-col>            
              </ion-row>
              <ion-row>
               <ion-col size="12">
                 <ion-grid>
                    <ion-row *ngFor="let data of clientes; let b = index" [ngStyle]="{'display': data.estado==2? '' : 'none'}">
                        <!-- <div [ngStyle]="{'display': data.estado==1? 'block' : 'none'}"> -->
                          <ion-col class="div-redondeado" size="2">
                            <span>
                              <h1>{{b+1}}</h1>
                            </span>
                          </ion-col>
                          <ion-col size="7">
                            <ion-icon ios="ios-person" md="md-person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
                            <small><ion-icon ios="ios-map" md="md-map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
                            <small><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
                            <div class="text-right">
                              <ion-button (click)="changeState(data.usuarioidDelete, 1)" expand="small" color="secondary">Agregar</ion-button>
                            </div>
                          </ion-col>
                          <ion-col size="3">
                            <ion-icon ios="ios-car" md="md-car"></ion-icon>  {{((data.distance)?data.distance:'')}} <br>
                            <ion-button (click)="getLocation(data.latitud, data.longitud, data.nombre + ' ' + data.apellido)" expand="small" color="secondary" fill="clear">Ubicar
                              <ion-icon name="pin" slot="end"></ion-icon>
                            </ion-button>
                            <ion-button (click)="goToRoute('../home/visita-detalle/'+data.id)" expand="small" color="secondary" fill="clear">Detalle
                              <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end" name="star"></ion-icon>
                            </ion-button>
                          </ion-col>
                        <!-- </div> -->
                      </ion-row>
                 </ion-grid>
               </ion-col>
              </ion-row>
              <!--<ion-row>
                <ion-col size="12" class="text-center">
                 <ion-button shape="round" color="primary" fill="outline" (click)="goToRoute('../home/terminadas')">Terminar</ion-button>
                </ion-col>
              </ion-row>-->
            </ion-grid>
          </div>
      <!--<ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>-->
    </ion-content>  
</ion-app>
  
  