// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.hover:hover ion-col{
    opacity: 0.7;
    // background-color: #686868!important;
}
.text-center{
    text-align: center !important;
    align-items: center!important;
}

.cursor{
    cursor:pointer !important;
}

.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}

.text-justify{
    text-align: justify!important;
}

.ml-2{
    margin-left: 0.4rem!important;
}

.mr-2{
    margin-right: 0.4rem!important;
}

.mt-2{
    margin-top: 0.4rem!important;
}

.mb-2{
    margin-bottom: 0.4rem!important;
}
.pl-2{
    padding-left: 0.4rem!important;
}

.pr-2{
    padding-right: 0.4rem!important;
}

.pt-2{
    padding-top: 0.4rem!important;
}

.pb-2{
    padding-bottom: 0.4rem!important;
}
.color-white{
    color: white!important;
}
.color-dark{
    color: black!important;
}
.secundary{
    background-color: #c1c2c5!important;
    color: rgb(0, 0, 0)!important;

}
.primary{
    background-color: #2d75f1!important;
    color: #fff!important;

}
.dark{
    background-color: #222428!important;
    color: #fff!important;

}
.light{
    background-color: #fff!important;
    color: #222428!important;

}
.bg-ligth{
    background-color: #fff;
    padding: 1rem;
}
.primary-clear{
    background-color: #fff!important;
    color: #2d75f1!important;

}
.pointer{
    cursor: pointer!important;
}
.messages{
    position: absolute!important;
    right: 20px!important;
    z-index: 3!important;
    font-size: 2rem!important;
    top:10px!important;
    cursor: pointer!important;
    }
    .messages .notification{
        position: absolute!important;
        right: -10px!important;
        top: -5px!important;
    }
    .main-header{
        text-align: center!important;
        font-size: 2rem!important;
    }
    .w-100{
        width: 100%!important;
    }
    .w-50{
        width: 50%!important;
    }
    .w-25{
        width: 25%!important;
    }
    .w-10{
        width: 10%!important;
    }
    .h-100{
        height: 100%!important;
    }
    .h-50{
        height: 50%!important;
    }
    .h-25{
        height: 25%!important;
    }
    .h-10{
        height: 10%!important;
    }
.color-blue {
    color:rgb(39, 39, 189) !important;
}

.font-30{
    font-size: 3rem !important;
}

.font-20{
    font-size: 2rem !important;
}
.font-19{
    font-size: 1.9rem !important;
}
.font-18{
    font-size: 1.8rem !important;
}
.font-17{
    font-size: 1.7rem !important;
}
.font-16{
    font-size: 1.6rem !important;
}
.font-15{
    font-size: 1.5rem !important;
}

.font-10{
    font-size: 1rem !important;
}
.font-9{
    font-size: 0.9rem !important;
}
.font-8{
    font-size: 0.8rem !important;
}
.font-7{
    font-size: 0.7rem !important;
}
.font-6{
    font-size: 0.6rem !important;
}
.font-5{
    font-size: 0.5rem !important;
}

.img-noticias{
    width:100;
    height:auto;
    border-radius: 30px !important;
    padding: 10px !important;

}
.divider{
    height:  0px!important;
    padding:  0px!important;
    margin:  0px!important;
    margin-top: -2%!important;
}

.margin-0{
    margin: 0px!important;
}
.background-image{
    width: 110%;
    height: auto;
    position: absolute;
    z-index: -1;
    vertical-align: middle;
    opacity: 0.25;
    margin-top: 10%;
}
.divider-angular{
    border: solid #2d75f1 1px;
    height: 1px;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

//Mensajes
.mensajes-box{
    height: 70%;
    width: 90%;
    margin-left: 5%;
    border: solid #000 1px;
}
.mensajes-box .incoming{
    left: 10%;
    width: 50%;
    height: auto;
    border-radius:30px 30px 30px 0px;
    padding: 2%;
    margin: 2%;

}
.mensajes-box .outgoing{
    right: 0px;
    max-width: 50%;
    width: auto;
    height: auto;
    border-radius:30px 30px 0px 30px;
    padding: 2%;
    margin: 2%;
    margin-left: 48%;
}
.send-message{
    width: 90%;
    margin-left: 5%;
    position: absolute;
    bottom: 10%;
    text-align: left;
    vertical-align: middle;
}
.send-message INPUT{
    border-radius: 30px;
    padding: 5%;
    width: 70%;
    left: 0px;
}
.send-message ion-button{
    width: 10%;
}

//Fin mensajes

//VISITAS
.div-redondeado {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #336600;
  background-color: #336600;
  text-align: center;
  width: 5%;
}
.div-redondeado2 {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #336600;
  background-color: #336600;
  text-align: center;
  width: 5%;
}
.mayusculas{
  text-transform:uppercase;
}

//LOGIN
#full-screen-background {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#full-screen-background-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#full-screen-background-image2 {
    background: no-repeat center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.full-screen-image {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: auto;
}
.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 30px;
}
.items.items-trns {
  border-color: rgba(0, 0, 0, 0);
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.bienvenido {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

.btn-color {
	background-color: rgba(88, 0, 0, 0.582);
	color: white;
	height: 35px;
}

.btn-color:focus {
	background-color: rgba(88, 0, 0, 0.582);
	color: white;
	height: 35px;
}

.btn-white {
	color: white;
}

.picture-profile {
  display: block; 
  width: 250px; 
  height: auto; 
  margin-left: auto; 
  margin-right: auto;
  background-color: white;
  border: 3px solid black;
  border-radius: 15%;
}

.picture-profile2 {
  display: block; 
  width: 250px; 
  height: auto; 
  margin-left: auto; 
  margin-right: auto;
  background-color: white;
  border-radius: 50%;
}

.logo {
    text-align: center;
    top: 25px;
  display: block;
  margin-left: auto; 
  margin-right: auto;
  z-index: 1000;
  left: 43.5%;
  padding: 40px;
    border-radius: 20%;
    float: none;
    background: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.11);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

//FIN LOGIN

//UPLOAD BUTTON
.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper2 input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
}

.image-slides {
  display: block; 
  width: 600px; 
  height: auto; 
  margin-left: auto; 
  margin-right: auto;
}