<ion-app>
  <ion-content>
    <ion-grid style="position: absolute; background: transparent">
      <ion-row>
          <ion-col size="5">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
           (click)="logOut()" class="mayusculas">Cerrar Sesión</ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
            (click)="goToRoute('home/offline')" class="mayusculas">
           <ion-icon name="wifi" slot="start"></ion-icon>Sin Conexión</ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
            (click)="goToRoute('home/perfil');getAllSeventh();" class="mayusculas">
           <ion-icon name="person" slot="icon-only"></ion-icon></ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
    <div class="row" style="width: 100%; height: 100%;">
      <div class="column" style="width: 50%; height: 100%;">
        <div [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" id="full-screen-background-image" (click)="goToRoute('home/visitas');getAll();">
          <div class='centrar'>
              <ion-row>
                <ion-col size="6" class="text-center pt-2 pb-2">
                  <h1 style="color: white; font-size: 35px;">Visitas</h1>
                </ion-col>                              
              </ion-row>
          </div>
        </div>
      </div>
      <div class="column" style="width: 50%; height: 100%;">
        <div [ngStyle]="{'background-image':'url(' + pictureLogin2 + ')'}" id="full-screen-background-image2" (click)="openTruck()">
          <div class='centrar'>
              <ion-row>
                <ion-col size="6" class="text-center pt-2 pb-2">
                  <h1 style="color: white; font-size: 35px;">Camiones</h1>
                </ion-col>                              
              </ion-row>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p *ngIf="codeCountry">© Foxylabs 2019 - <strong>{{codeCountry}}</strong></p>
      <p *ngIf="!codeCountry">© Foxylabs 2019</p>
    </div>
  </ion-content>
</ion-app>
<!--<ion-app>
  <ion-content>
    <div style="background-color: #273F02;" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" id="full-screen-background-image">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
           (click)="logOut()" class="mayusculas">Cerrar Sesión</ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
            (click)="goToRoute('home/offline')" class="mayusculas">
           <ion-icon name="wifi" slot="start"></ion-icon>Sin Conexión</ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
            (click)="goToRoute('home/perfil');getAllSeventh();" class="mayusculas">
           <ion-icon name="person" slot="icon-only"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

        <!--<ion-col size="6">
          <img src="{{ pictureLogin }}" class="full-screen-image">
        </ion-col>
        <ion-col size="6">
            <img src="{{ pictureLogin2 }}" class="full-screen-image">
        </ion-col>--

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="{{ pictureLogin }}" class="full-screen-image">
        </ion-slide>
        <ion-slide>
          <img src="{{ pictureLogin2 }}" class="full-screen-image">
        </ion-slide>
      </ion-slides>

      <!--<div class='centrar'>
      <ion-grid padding>
        <ion-row>
          <ion-col size="12" class="text-center pt-2 pb-2">
            <ion-button (click)="goToRoute('home/visitas');getAll();" expand="block" color="success" shape="round" size="large">Visitar</ion-button>
          </ion-col>                              
        </ion-row>
        <!--<ion-row>
          <ion-col size="12" class="text-center pt-2 pb-2">
            <ion-button (click)="goToRoute('home/inventario')" expand="block" color="success" shape="round" size="large">Inventario</ion-button>
          </ion-col>                              
        </ion-row>
        <ion-row>
          <ion-col size="12" class="text-center pt-2 pb-2">
            <ion-button (click)="openTruck()" expand="block" color="success" shape="round" size="large" [disabled]="btnCamion">Camiones</ion-button>
          </ion-col>                              
        </ion-row>
      </ion-grid>
      </div>--

      <!--<ion-slides [options]="slideOpts">
        <ion-slide>
          <img src="http://st.gde-fon.com/wallpapers_original/615828_agricultura_cosecha_siembra_cultivo_granjero_agric_1500x938_www.Gde-Fon.com.jpg">
        </ion-slide>
        <ion-slide>
          <img src="https://wallpaperstock.net/wallpapers/thumbs1/8743.jpg">
        </ion-slide>
        <ion-slide>
          <img src="http://st.gde-fon.com/wallpapers_original/615828_agricultura_cosecha_siembra_cultivo_granjero_agric_1500x938_www.Gde-Fon.com.jpg">  
        </ion-slide>
      </ion-slides>--

      <div class="footer">
        <p *ngIf="codeCountry">© Foxylabs 2019 - <strong>{{codeCountry}}</strong></p>
        <p *ngIf="!codeCountry">© Foxylabs 2019</p>
      </div>
    </div>
  </ion-content>
</ion-app>-->



