.centrar{
  position: absolute;
  //nos posicionamos en el centro del navegador/
  top:45%;
  //determinamos una anchura/
  width:100%;
  //margin-top:120px;
}
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    perspective: unset;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}