<ion-app>
    <ion-header translucent mode="md">
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="goToBack()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-row align-items-center>
          <h1 class="mayusculas">{{titulo}}</h1>
        </ion-row>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="goToRoute('../home/planificacion')">
            <ion-icon name="folder-open"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="goToRoute('../home/clientes')">
            <ion-icon name="people"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="primary">
        <ion-segment mode="md">
          <ion-segment-button (click)="active('visitar');getMap();" checked>
            Visitas Planificadas
          </ion-segment-button>
          <!--<ion-segment-button (click)="active('visitardiario');getMap2();" checked>
            Visitas Diarias
          </ion-segment-button>-->
          <ion-segment-button (click)="active('ventas');getAllSecond();">
            Ventas
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>
  
    <ion-content [ngStyle]="{'display': selectedTag=='visitar'? 'block' : 'none'}" class="h-100">
      <!-- Custom Refresher Content -->
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
      </ion-refresher>
      <div>
        <div id="map" style="height:250px!important;"></div>
             <ion-grid class="h-50" padding>
               <div class="h-50">
                  <ion-row>
                      <ion-col size="7">
                        <h3>Rutal del dia</h3>
                      </ion-col> 
                      <!--<ion-col size="5" text-right>
                        <ion-button (click)="active('publicidad')" color="secondary" fill="outline">Comenzar</ion-button>
                      </ion-col>-->
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-grid>
                        <ion-row *ngFor="let data of clientes; let a = index" [ngStyle]="{'display': data.estado==1? '' : 'none'}">
                          <!-- <div [ngStyle]="{'display': data.estado==1? 'block' : 'none'}"> -->
                            <ion-col class="div-redondeado" size="2">
                              <span>
                                <h1>{{a+1}}</h1>
                              </span>
                            </ion-col>
                            <ion-col size="7">
                              <ion-icon ios="ios-person" md="md-person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
                              <small><ion-icon ios="ios-map" md="md-map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
                              <small><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
                              <!--<div class="text-right">
                                <ion-button (click)="data.estado=2" expand="small" color="secondary">Quitar</ion-button>
                              </div>-->
                            </ion-col>
                            <ion-col size="3">
                              <ion-icon ios="ios-car" md="md-car"></ion-icon>  {{((data.distance)?data.distance:'')}} <br>
                              <ion-button (click)="getLocation(data.latitud, data.longitud, data.nombre + ' ' + data.apellido)" expand="small" color="secondary" fill="clear">Ubicar
                                <ion-icon name="pin" slot="end"></ion-icon>
                              </ion-button>           
                              <ion-button (click)="goToRoute('../home/detalle-planificacion/'+data.id)" expand="small" color="secondary" fill="clear">Detalle
                              <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end" name="star"></ion-icon>
                              </ion-button>
                            </ion-col>
                          <!-- </div> -->
                        </ion-row>
                        
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                  <!--<ion-row>
                    <ion-col class="text-right">
                      <ion-button size="small" color="secondary">Modificar
                        <ion-icon ios="ios-create" md="ios-create" slot="end" name="star"></ion-icon>               
                      </ion-button>
                      <ion-button size="small" color="secondary">Guardar
                        <ion-icon ios="ios-archive" md="ios-archive" slot="end" name="star"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>-->
                  </div>
             </ion-grid>
             </div>
             <div>
             <ion-grid class="h-50" padding>
              <ion-row>
                 <ion-col size="12">
                   <h3>Rutas Pendientes</h3>
                 </ion-col> 
                                              
              </ion-row>
              <ion-row>
               <ion-col size="12">
                 <ion-grid>
                    <ion-row *ngFor="let data of clientes; let b = index" [ngStyle]="{'display': data.estado==2? '' : 'none'}">
                        <!-- <div [ngStyle]="{'display': data.estado==1? 'block' : 'none'}"> -->
                          <ion-col size="2" class="div-redondeado">
                            <span>
                              <h1>{{b+1}}</h1>
                            </span>
                          </ion-col>
                          <ion-col size="7">
                            <ion-icon ios="ios-person" md="md-person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
                            <small><ion-icon ios="ios-map" md="md-map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
                            <small><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
                            <!--<div class="text-right">
                              <ion-button (click)="data.estado=1" expand="small" color="secondary">Agregar</ion-button>
                            </div>-->
                          </ion-col>
                          <ion-col size="3">
                            <ion-icon ios="ios-car" md="md-car"></ion-icon>  {{((data.distance)?data.distance:'')}} <br>
                            <ion-button (click)="getLocation(data.latitud, data.longitud, data.nombre + ' ' + data.apellido)" expand="small" color="secondary" fill="clear">Ubicar
                              <ion-icon name="pin" slot="end"></ion-icon>
                            </ion-button>
                            <ion-button (click)="goToRoute('../home/detalle-planificacion/'+data.id)" expand="small" color="secondary" fill="clear">Detalle
                              <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end" name="star"></ion-icon>
                            </ion-button>
                          </ion-col>
                        <!-- </div> -->
                      </ion-row>
                 </ion-grid>
               </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="text-center">
                 <ion-button (click)="goToRoute('../home/terminadas')" color="secondary" fill="outline" expand="block">Rutas Terminadas</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
    </ion-content>
  
    <ion-content padding [ngStyle]="{'display': selectedTag=='ventas'? 'block' : 'none'}" class="h-100">
      <ion-grid>
        <ion-row *ngFor="let data of clientes; let i = index">
          <ion-col class="div-redondeado" size="2">
             <span>
              <h1>{{i+1}}</h1>
              </span>
            </ion-col>
            <ion-col size="7">
              <ion-icon ios="ios-person" md="md-person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
              <small><ion-icon ios="ios-map" md="md-map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
              <small><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
            </ion-col>
            <ion-col size="3">
              <br> <br>            
              <ion-button (click)="goToRoute('../home/ventas/'+data.id)" expand="small" color="secondary" fill="clear">Venta
              <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end" name="star"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
  </ion-app>
  
  