.centrar{
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:45%;
  /*determinamos una anchura*/
  width:100%;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-60px;
}