<ion-app>
  <ion-content>
    <div style="background-color: #273F02;" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" id="full-screen-background-image">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
           <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" (click)="goToBack()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> Atrás
          </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class='centrar'>
      <ion-grid padding>
        <ion-row>
          <ion-col size="12" class="text-center pt-2 pb-2">
            <ion-button (click)="goToRoute('home/visitas-camiones');" expand="block" color="medium" shape="round" size="large">Visitar</ion-button>
          </ion-col>                              
        </ion-row>
        <ion-row> 
          <ion-col size="12" class="text-center pt-2 pb-2">
            <ion-button (click)="goToRoute('home/planificacion-camiones');" expand="block" color="medium" shape="round" size="large">Planificacion</ion-button>
          </ion-col>                              
        </ion-row>
        <!--<ion-row>
          <ion-col size="12" class="text-center pt-2 pb-2">
            <ion-button (click)="goToRoute('home/inventario')" expand="block" color="medium" shape="round" size="large">Inventario</ion-button>
          </ion-col>                              
        </ion-row>
        <ion-row>
          <ion-col size="12" class="text-center pt-2 pb-2">
            <ion-button (click)="goToRoute('home/code-qr')" expand="block" color="success" shape="round" size="large">Ventas QR</ion-button>
          </ion-col>                              
        </ion-row>-->
      </ion-grid>
      </div>
      <div class="footer">
        <p *ngIf="codeCountry">© Foxylabs 2019 - <strong>{{codeCountry}}</strong></p>
        <p *ngIf="!codeCountry">© Foxylabs 2019</p>
      </div>
    </div>
  </ion-content>
</ion-app>



