<ion-app>
  <ion-header translucent mode="md">
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-button fill="clear">
        </ion-button>
      </ion-buttons>
      <ion-row>
        <h1 class="mayusculas">Recuperar Contraseña</h1>
      </ion-row>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" id="full-screen-background-image">
      <form (ngSubmit)="resetPassword()" padding>
        <div class="item item-trns">
          <!--NOMBRE DEL CLIENTE-->
          <ion-item>
            <ion-label style="color: white;" position="floating"><ion-icon ios="ios-contact" md="md-contact"></ion-icon> Usuario o Correo Electrónico</ion-label>
            <ion-input (keyup.enter)="resetPassword()" style="color: white;" type="text" [(ngModel)]="data.username" name="username">
            </ion-input>
          </ion-item>
          <div padding>
            <ion-button expand="block" type="submit" color="success" [disabled]="btnDisabled">
              <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
              Guardar Cambios
            </ion-button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-app>